---
---

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 18px;
  padding: 36px 40px;
  line-height: var(--spacing);
  box-shadow: var(--shadow);
}

footer a {
  color: var(--text) !important;
}

footer a:hover {
  color: var(--link) !important;
}

footer .icon {
  font-size: var(--xl);
}

.footer-map {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.footer-map img,
.footer-map iframe {
  max-width: 100%;
  border-radius: 8px;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 14px;
}

.footer-links .button[data-style="bare"] {
  color: var(--text);
}

.footer-links .button[data-style="bare"]:hover {
  color: var(--link-hover);
}
